!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cakes</title>
    
  </head>
  <body>
  	<div class="container">
	  	<div class="row">
	  		<div class="col-md-5">
	  			<div class="page-header">
	  			  <div class="row">
				  <h1 class="shift"><small>Contact Us</small></h1>
				  </div>
				</div>
  				<div class="well">
  				<p class="text">
  				<Strong>Cake Sparkle LLC</Strong>
  				<br>
  				1234 West Badass Street
  				<br>
  				Queen Creek, Arizona, 77733
  				<br>
  				<br>

  				<Strong>Phone Support</Strong>
  				<br>
  				602-123-4567
  				<br><br>

  				<Strong>Email Support</Strong>
  				<br>
  				Design Work - cakesparkleboy@gmail.com
  				<br>
  				Customer Service - cakesparklegirl@gmail.com
  				<br><br>
  				</p>
  				</div>
	  		</div>
	  		<div class="col-md-6">
	  			<div class="page-header">
	  			  <div class="row">
				  <h1 class="shift"><small>Any Questions?</small></h1>
				  </div>
				</div>
  				<div class="well">
  					<form>
					  <div class="form-group has-feedback">
					    <label class="control-label" for="inputUsername">Name</label>
					    <input type="text" class="form-control" id="inputUsername" placeholder="John Smith">
					    <span class="glyphicon glyphicon-user form-control-feedback"></span>
					  </div>
					  <div class="form-group has-feedback">
					    <label class="control-label" for="inputEmail">Name</label>
					    <input type="text" class="form-control" id="inputEmail" placeholder="example123@gmail.com">
					    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
					  </div>
					  <div class="form-group">
					    <label for="exampleropDown">Nature of Inquiry</label>
					    <select class="form-control">
						  <option>General Question</option>
						  <option>Order Information</option>
						  <option>Account Issues</option>
						  <option>Custom Toppers</option>
						  <option>Payment Information</option>
						</select>
					  </div>
					  <div class="form-group">
					    <label for="exampleQuestion">Questions</label>
					 	<textarea class="form-control" rows="5"></textarea>
					  </div>
					 <br>
					  <button type="submit" class="btn btn-default">Submit</button>
					</form>
  				</div>
	  		</div>
	  		<div class="col-md-1"></div>
	  	</div>
  	</div>
    <%= yield %>

  </body>
</html>