// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2.blocktext {
	text-align: center

}
.subtitle {
	text-align: center;
	font-family: Geneva;
    color: #555555;
}


div.spacer {
	
	padding-top: 40px;
}

.tab { text-indent:40px }
.shift { text-indent:15px }

P.text {
    font-family: Geneva;
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    letter-spacing: .25px;
}
